.mainheading{
    text-align: center;
}

body {
    background-color: #E7E4E4; /* shadow grey */
    color: black;
    margin: 0;
}

h1 {
    color: navy;
}
div {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

footer {
    width:100%;
    background-color:#767676;
    position: fixed; /* making the footer always appear at the bottom of the screen */
    right: 0;
    bottom: 0;
    left: 0;
    padding:10px 0px;
    text-align: center;
}

.ex1 {
    margin-left: 30px;
    }
    
p {
    margin-left: 80px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    border: 1px solid #000; /* black */
    background-color: #767676; /* grey */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333; /* dark grey */
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.button {
     background-color: #3399ff; /* Blue */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}